<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a word</title>
</head>
<body>
<form class="add" method="post">
    <div class="label">English Word:</div>
        <div class="element"><input type="text" name="englishword" id="englishword" required></div>
    </div>
    <div class="label">Te Reo Word:</div>
        <div class="element"><input type="text" name="tereoword" id="tereoword" required></div>
    </div>
    <div class="label">Category:</div>
        <div class="element"><input type="text" name="category" id="category" required></div>
    </div>
    <div class="label">Definition:</div>
        <div class="element"><input type="text" name="definition" id="definition" required></div>
    </div>
    <div class="label">Level:</div>
        <div class="element"><input type="text" name="level" id="level" required></div>
    </div>
    <div class="group">
        <div class="label"></div>
        <div class="element"><input type="submit" value="Add Word"></div>
    </div>


</form>
</body>
</html>