<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Category List</title>
</head>
<body>
<h4><a href="/home"> home </a></h4>
<h3>Categories</h3>
<ul>
    <li><a href="/category_list/actions"> actions </a></li>
    <li><a href="/category_list/animals"> animals </a></li>
    <li><a href="/category_list/clothing"> clothing </a></li>
    <li><a href="/category_list/culture-religion"> culture / religion </a></li>
    <li><a href="/category_list/descriptive"> descriptive </a></li>
    <li><a href="/category_list/emotions"> emotions </a></li>
    <li><a href="/category_list/food"> food </a></li>
    <li><a href="/category_list/math-number"> math / number </a></li>
    <li><a href="/category_list/outdoors"> outdoors </a></li>
    <li><a href="/category_list/people"> people </a></li>
    <li><a href="/category_list/places"> places </a></li>
    <li><a href="/category_list/plants"> plants </a></li>
    <li><a href="/category_list/school"> school </a></li>
    <li><a href="/category_list/sport"> sport </a></li>
    <li><a href="/category_list/technology"> technology </a></li>
    <li><a href="/category_list/time"> time </a></li>
</ul>
</body>
</html>