<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dictionary Home</title>
</head>
<body>
    <container>

    </container>
</body>
{% block main %}
    <h1>DICTONARY</h1>
        {% for word in engwords %}
            <div class="word_box">
                <div class="heading1">
                    <h3>{{ word }}</h3>
                </div>
                <div class="heading2">
                    <h4>{{ tereowords[word] }}</h4>
                </div>
            </div>
        {% endfor %}
{% endblock %}
</html>