<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Word: {{ passing_word.capitalize() }}</title>
</head>
<body>
<h4><a href="/home"> home </a></h4>
{% for word in word_info %}
    <h2>English Word: {{ word[0] }}</h2>
    <h2>Te Reo Word: {{ word[1] }}</h2>
    <h2>Category: {{ word[2] }}</h2>
    <h2>Definition: {{ word[3] }}</h2>
    <h2>Level: {{ word[4] }}</h2>
    <h2>User inputted: The Teacher</h2>
    <object data="/static/images/{{ word[0] }}.jpg" type="image/jpeg"><img src="/static/images/noimage.jpg" alt=""></object>
    <h2><a href="{{ passing_word }}/delete">Delete</a></h2>

{% endfor %}
</body>
</html>